*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.goku{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 500px;
    /*background-color: red;  */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("img/goku-1.png");
}
.goku.active{
    background-image: url("img/goku-2.png");

}
.goku.ssj{
    background-image: url("img/goku-3.gif");
}
.trans-button{
    margin: 50px auto 0px;
    width: 150px;
    height: 400px;
    /* background-color: blue; */
    
}